@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --color1: #000077;
    --color2: #7B00FF;
    --color3: #FF0000;

    --gap: 3rem;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url("../images/bg1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: 3rem;
    font-family: 'Caprasimo', Verdana, Geneva, Tahoma, sans-serif;

}

h1 {
    text-align: center;
    font-size: 7rem;
    margin-bottom: 2%;

}

strong {
    color: var(--color2);
}

a.link {
    margin: auto;
    text-decoration: none;
    font-size: 4rem;
    color: var(--color2);
    max-width: 300px;
    border: 2px solid rgba(0, 0, 0, 0.737);
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.548);

}

div.flex-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin: auto;
    width: 300px;
    
}

div.flex-content img {
    max-width: 60px;
    margin: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}