@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

:root {
    --color1: #000077;
    --color2: #7B00FF;
    --color3: #FF0000;
}

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.5%;
}

body{
    background-image: url("../images/bg1.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Caprasimo', sans-serif;
}

h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

a{
    display: flex;
    font-style: normal;
    text-decoration: none;
    color: #000077;
    font-size: 3.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

a:hover{
    color: #7B00FF;
}

.projects_name{
    padding-top: 5rem;
}
.projects_name>a{
    padding-top: 1.8rem;
}