@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

:root {
    --color1: #000077;
    --color2: #7B00FF;
    --color3: #FF0000;
}

* {
    margin: 0;
    padding: 0 auto;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url("../images/bg1.png");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Caprasimo', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-width: 350px;
}


header h1 {
    font-size: 7rem;
    text-align: center;
    text-shadow: 0px 0px 2px var(--color1);
}

header h1>strong {
    color: var(--color1);

}

.pageProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

}

.pageProjects a:hover {
    transition: 300ms ease-in-out;
    transform: scale(1.3, 1.3);
}

.pageProjects a {
    text-decoration: none;
    font-size: 4.8rem;
    color: var(--color1);
    border: 0.2rem solid var(--color1);
    border-radius: 3rem;
    background-color: #7b00ff78;


}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.icons img {
    margin: 3rem;
    max-width: 7rem;
}


.icons img:hover {
    transform: scale(1.2, 1.2) skew(3deg,3deg);
    transition: 500ms ease-in-out;

}