@charset "UTF-8";


:root{
    --color1: #000077;
    --color2: #7B00FF;
    --color3:#FF0000;

    --gap: 3rem;
}

*{
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 62.5%;
}

body{
    background-image: url("../images/quantum-gradient.png");
}

h1{
    font-size: 4rem;
    text-align: center;
}


p{
    font-size: 2rem;
}

.main_content{
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.center{
    text-align: center;
}
