@charset "UTF-8";


:root{
    --color1:#265C4B;
    --color2:#146551;
    --color3:#007566;
    --color4:#589A8D;
    --color5:#8FC1B5;

    /* colors from color Adobe */ 


}

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: ;
    background-color: var(--color2);
    
}


header{
    text-align: center;
}


