@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Tilt+Prism&display=swap');

:root{
    --primary-color: rgb(0, 72, 11);
    --gap: 3rem;

}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-image: url("../imgs/endless-constellation.svg");
}

h1,
h2,
h3,
h4{
    font-family: 'Tilt Prism', sans-serif;

}

h1 {
    font-size: 7rem;
    text-transform: uppercase;
}

h2 {
    font-size: 6rem;

}

h3 {
    font-size: 5rem;

}

h4{
    font-size: 4rem;
}

.main_bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.white_bg{
    background-color: white;
}

.main_content{
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.section{
    min-height: 100vh;
}